{% extends "layout.html" %}

{% block title %}
    Project Tracker
{% endblock %}

{% block main %}
<div>
    <form action="/export_report" method="get">
        <button type="submit" class="btn btn-primary">Export Project Report</button>
    </form>
</div>
{% for project in projects %}
<div>
    <div class="row d-flex justify-content-center container">
        <div class="col-md-8">
            <div class="card-hover-shadow-2x mb-3 card">
                <div class="card-header-tab card-header">
                    <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                        <i class="fa fa-tasks"></i>&nbsp;{{ project['project'] }} - Task List
                    </div>
                </div>
                <div class="scroll-area-sm">
                    <perfect-scrollbar class="ps-show-limits">
                        <div style="position: static;" class="ps ps--active-y">
                            <div class="ps-content">
                                <ul class="list-group list-group-flush">
                                    {% for t,f in project['tandf'] %}
                                    <li class="list-group-item">
                                        <div class="todo-indicator bg-warning"></div>
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left">
                                                    <div class="widget-heading">
                                                        {{ t }}
                                                        <div class="badge badge-danger ml-2">{{ f }}</div>
                                                    </div>
                                                </div>
                                                <div class="widget-content-right">
                                                    <form action="/" method="post">
                                                        <div class="widget-content-right">
                                                            <input type="hidden" class="form-group" name="pj_id" value="{{ project['pj_id'] }}">
                                                            <input type="hidden" class="form-group" name="t" value="{{ t }}">
                                                            <input type="hidden" class="form-group" name="f" value="{{ f }}">
                                                            <button type="submit" class="form-group border-0 btn-transition btn btn-outline-success" name="clicked" value="check">
                                                                <i class="fa fa-check"></i>
                                                            </button>
                                                            <button type="submit" class="form-group border-0 btn-transition btn btn-outline-danger" name="clicked" value="remove">
                                                                <i class="fa fa-trash"></i>
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </perfect-scrollbar>
                </div>

                <!-- Existing Progress Bar Code Here -->

                <div class="d-block text-right card-footer">
                    {% for emp in project['employee'] %}
                    <span class="tm-tag tm-tag-info" id="obdaG_1">
                        <span>{{ emp }}</span>
                    </span>
                    {% endfor %}
                    <!-- Add User Button -->
                    <button class="btn btn-secondary" data-toggle="collapse" data-target="#addUserCollapse{{ project['pj_id'] }}" aria-expanded="false" aria-controls="addUserCollapse{{ project['pj_id'] }}">
                        Assign Employee
                    </button>
                    <!-- Assign User Form -->
                    <div class="collapse mt-2" id="addUserCollapse{{ project['pj_id'] }}">
                        <div class="card card-body">
                            <form action="/assign_user" method="post">
                                <input type="hidden" name="project_id" value="{{ project['pj_id'] }}">
                                <div class="form-group">
                                    <label for="userSelect{{ project['pj_id'] }}">Select Employee:</label>
                                    <select class="form-control" id="userSelect{{ project['pj_id'] }}" name="user_id">
                                        {% for employee in all_employees %}
                                        <option value="{{ employee['id'] }}">{{ employee['name'] }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary">Assign</button>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Add Task Button and Form Here -->

            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
